*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    color: white
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 600;
}

h3{
    font-weight: 300;
}

.desktop-nav ul{
    list-style: none;
    display: flex;
}

.desktop-nav a{
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: #ffffffd0
}

.desktop-nav a:hover{
    background-color: #3a3a3a;
}

.mobile-nav{
    display: none;
}

.hamburger {
    display: none;
}

header{
    background-color: #111111;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid #580808;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    padding-top: 80px;
}



.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    text-align: center;
}




.hero h1{
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    color: rgb(170, 169, 169);
}
.hero-red{
    color: rgb(230, 60, 60);
}
.hero p{
    font-size: 30px;
    padding-bottom: 100px;
    color: rgb(211, 211, 211);
}
.hero-schedule{
    background-color: rgb(230, 60, 60);
    font-size: 70px;
    border: 4px solid rgb(230, 60, 60);
    transition: background-color 0.3s ease;
}
.hero-join{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
    font-size: 70px;
    border: 4px solid #ffffff;
    transition: background-color 0.3s ease;
}
.hero a{
    margin: 0 100px;
    text-decoration: none;
}
.hero-schedule:hover{
    background-color: rgba(255, 255, 255, 0.20);
    color: rgb(230, 60, 60);
}
.hero-join:hover{
    background-color: rgba(255, 255, 255, 0.20);
    color: white;
}



.classes{
    background-color: #2a2a2a;
    text-decoration: none;
}
a:visited{
    color: inherit;
}

.classes h3{
    background-color: #3a3a3a;
    border-top: 3px solid #580808;
}

.kids{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/kids-index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sign-up{
    background-color: #ca0101a1;
}

.contact-info{
    background-color: #3a3a3a;
}

.contact-info img{
    width: 50px;
    height: 50px;
}